html, body{
	margin: 0;
	min-height: 100vh;
	background-color: #3C374D;
}

#container{
	background-color: #ffffff;
	border-radius: 20px;
	display: flex;
	flex-direction : column;
	justify-content: center;
	align-items: flex-start;
	padding: 30px;
	max-width: 320px;
	width: 70%;
	margin: auto;
	margin-top: 200px;
}

h1{
	font-size: 3rem;
}

p{
	margin-top: 0;
}

#dismiss-btn {
	background-color: navy;
	color: white;
	padding: 0;
	width: 100%;
	height: 50px;
	font-size: inherit;
	margin-top: 5%;
	margin-bottom: 5%;
	border-radius: 15px;
}

 #dismiss-btn:hover{
	cursor: pointer;
	opacity: 0.8;
	transform: scale(1.1);
}

@media screen and (max-width: 600px) {
	body {
		margin: 0;
		padding:0;
	}
	#container{
		height: 100vh;
		max-width: 70vw;
		border-radius: 0;
		margin-top: 0;
	}
	#dismiss-btn {
		margin-top: 18rem;
	}
	#dismiss-btn:focus{
		transform: scale(1.1);
		opacity: 0.6;
	}
}